pryMatriculaEscritorio/Connected Services/webserviceMatricula/ServiceMatricula3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WFCServiceMatricula" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WFCServiceMatricula" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Matricula">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apoderado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="grado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_matricula" type="xs:int" />
      <xs:element minOccurs="0" name="nivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="seccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="turno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Matricula" nillable="true" type="tns:Matricula" />
</xs:schema>